@charset "UTF-8";

$pc: 1280px;//PC
$im: 660px;//ブレークポイント

$pcw:(100vw/1280);
$spw:(100vw/375);


@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin im {
  @media (max-width: ($im)) {
    @content;
  }
}

  *, *::before, *::after{
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

body{
  width: auto;
  font-family: monospace, "Montserrat", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

  .header{
    width: 100%;
    background-color: #FFE111;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
    .pig-mark{
      display: inline-block;
      vertical-align: middle;
      width: (52/1280)*100vw;;
      @include im {
        width: 42px;
      }
    }
    .site-title{
      font-size: 20*$pcw;
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0.15rem;
      padding-left: 5px;
      @include im{
        font-size: 10*$spw;
      }
    }
  }
  .main{
    width: 100%;
    background-color: #FFE111;
    .title{
      position: relative;
      width: 100%;
      height: 730*$pcw;
      background-color: #FFE111;
      @include im{
        height: 300*$spw;
      }
      &-info{
        position: absolute;
        top: 155px;
        left: 10%;
        @include im{
          top: 100*$spw;
        }
        h2{
          font-size: 72*$pcw;
          background-color: #fff;
          display: inline-block;
          line-height: 2.4;
          letter-spacing: 0.15em;
          padding: 0 20px;
          &:last-child{
            margin-top: 30px;
          }
          @include im{
            font-size: 25*$spw;
          }
        }
      }
      .arrow-down{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 60*$pcw;
        color: #000;
        text-align: center;
      }
    }
    .check{
      margin-top: 104*$pcw;
      .start{
        text-align: center;
        .money-icon{
          display: inline-block;
          vertical-align: middle;
        }
        &-title{
          font-size: 50*$pcw;
          display: inline-block;
          vertical-align: middle;
          letter-spacing: 0.15rem;
          padding: 0 36px;
          @include im {
            font-size: 26*$spw;
          }
        }
        .money-icon{
          @include im {
            width: 42*$pcw;
          }
          @include im {
            width: 30*$spw;
          }
        }
      }
      .score{
        width: 80%;
        height: auto;
        padding: 3% 11% 7% 14%;
        margin: 0 auto;
        margin-top: 126px;
        border: 12px solid #fff;
        border-radius: 3%;
        @include im{
          width: 90%;
          padding: 20*$spw;
        }
        &-number{
          text-align: center;
          font-size: 160*$pcw;
          margin-top: 50px;
          span{
            font-size: 100*$pcw;
          }
          @include im{
            font-size: 64*$spw;
          }
        }
        .slash-border{
          width: 82%;
          display: block;
          margin: 26px auto 40px;
        }
        &-answer{
          margin-top: 25*$pcw;
          font-size: 26*$pcw;
          letter-spacing: 0.27em;
          line-height: 2;
          @include im{
            font-size: 15*$spw;
            margin-top:40*$spw;
          }
        }
      }
    }
    .mokuji{
      width: 100%;
      height: 600*$pcw;
      margin: 100*$pcw 0 120*$pcw;
      @include im{
        height: 400*$spw
      }
      &-wrapper{
        width: 90%;
        height: 100%;
        margin: 80px auto;
        position: relative;
        .yen_left{
          left: 9%;
          top: 35%;
          position: absolute;
          width: 200*$pcw;
          @include im{
            left: 3%;
            top: 28%;
          }
        }
        .yen_right{
          right: 21%;
          top: 78%;
          position: absolute;
          width: 205*$pcw;
          @include im{
            right: 8%;
            top: 62%;
          }
        }
        ul{
          font-size: 26*$pcw;
          @include im{
            font-size: 15*$spw;
          }
        }
        li{
          position: absolute;
        }
        .no1{
          top: 0%;
          left: 19%;
          @include im{
            top: 0%;
            left: 30%;
          }
        }
        .no2{
          top: 20%;
          left: 7%;
          @include im{
            top: 20%;
          }
        }
        .no3{
          top: 30%;
          left: 62%;
          @include im{
            top: 40%;
            left: 25%;
          }
        }
        .no4{
          top: 50%;
          left: 29%;
          @include im{
            top: 60%;
            left: 3%;
          }
        }
        .no5{
          top: 70%;
          left: 55%;
          @include im{
            top: 80%;
            left: 31%;
          }
        }
        .no6{
          top: 89%;
          left: 18%;
          @include im{
            top: 95%;
            left: 5%;
          }
        }
      }
    }
    .book{
      width: 100%;
      padding-bottom: 100px;
      @include im{
        padding-top:50px;
      }
      &-wrapper{
        width: 80%;
        margin: 0 auto;
        @include im {
          width: 90%;
        }
        .catch-copy{
          font-size: 65*$pcw;
          text-align: center;
          line-height: 2;
          letter-spacing: 0.45em;
          @include im {
            font-size: 20*$spw;
          }
          &::before{
            content: '';/*何も入れない*/
            display: inline-block;/*忘れずに！*/
            width: 80*$pcw;/*画像の幅*/
            height: 80*$pcw;/*画像の高さ*/
            background-image: url(../img/line1.png);
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: bottom;
            @include im {
              width: 30*$spw;
              height: 30*$spw;
            }
          }
          &::after{
            content: '';/*何も入れない*/
            display: inline-block;/*忘れずに！*/
            width: (80/1280)*100vw;/*画像の幅*/
            height: (80/1280)*100vw;/*画像の高さ*/
            background-image: url(../img/line2.png);
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: bottom;
            @include im {
              width: 30*$spw;
              height: 30*$spw;
            }
          }
        }
        .book-page{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 100px;
          @include im {
            margin-top: 40*$spw;
          }
          .book-image{
            width: 32%;
            height: 100%;
            box-shadow: 5px -7px;
            @include im {
              width: 60%;
              margin: 0 auto;
            }
          }
          .book-right{
            font-size: 22*$pcw;
            letter-spacing: 0.04em;
            line-height: 1.5;
            width: 60%;
            .btn{
              text-align: center;
              margin-top: 45px;
              &-radius {
                display: inline-block;
                padding: 11px 75px;
                border-radius: 40px;
                text-decoration: none;
                color: #000;
                background-color: #fff;
                font-size: (48/1280)*100vw;
                text-align: center;
                box-shadow: 3px 7px;
              }
            }
            .btn-radius:hover {
              background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
            }
            @include im {
              width: 90%;
              margin-top: 50*$spw;
              font-size: 16*$spw;
              margin: 50px auto 0;
            }
          }
        }
      }
    }
    .author{
      width: auto;
      background-color: #fff;
      .writer{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content:justify-content;
        flex-wrap: wrap;
        padding:70*$pcw 0;
        &-wrapper{
          padding: 0 50px;
          width: 50%;
          text-align: center;
          line-height: 1.5;
          @include im {
            width: 100%;
            padding: 50px 30px;
          }
          .writer-pic{
            border-radius: 50%;
            margin: 0 auto;
            width: (315/1280)*100vw;
            @include im {
            width: (250/375)*100vw;
            }
          }
          .info{
            text-align: left;
            // width: 324px;
            margin:70px auto 0;
            .name{
              font-size: 36*$pcw;
              @include im {
                width: 100%;
                font-size: 30*$spw;
              }
            }
            .introduce{
              font-size: 18*$pcw;
              margin-top: 20*$pcw;
              letter-spacing: 0.08rem;
              @include im {
                font-size: 16*$spw;
              }
            }
            .twitter{
              font-size: 18*$pcw;
              margin-top: 20*$pcw;
              letter-spacing: 0.08rem;
              @include im {
                font-size: 14*$spw;
              }
            }
            .note{
              font-size: 18*$pcw;
              margin-top: 10*$pcw;
              letter-spacing: 0.08rem;
              @include im {
                font-size: 14*$spw;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    width: 100%;
    height: 400*$pcw;
    padding: 40px 0 100px;
    background-color: #FFE111;
    text-align: center;
    @include im {
      padding: 20*$spw 0 50*$spw;
    }
    .logo-image{
      display: block;
      width: 60%;
      margin: 0 auto;
      @include im {
        width: 85%;
      }
    }
    p{
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
      @include im {
        font-size: 12*$spw;
      }
    }
    .markup{
      margin-left: 40px;
      @include im {
        margin-left: 20px;
      }
    }
  }
